################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Git/FileContentIndex/1d8ae3fa-ad46-421c-84eb-addfd3e41b61.vsidx
