@page "/countries/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Create Countries</h3>

<CountriesForm @ref="countriesForm" Country="country" OnValidSubmit="Create" ReturnAction="Return"></CountriesForm>

@code {
    private Country country = new();
    private CountriesForm? countriesForm;

    private const string countries = "/countries";
    private const string prefix = $"/api{countries}/";

    private async Task Create()
    {
         var httpResponse = await repository.Post($"{prefix}create", country);        

        if(httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        countriesForm!.FormPostedSuccesfully = true;
        navigationManager.NavigateTo(countries);
    }

    private void Return()
    {
       countriesForm!.FormPostedSuccesfully = true;
        navigationManager.NavigateTo(countries);
    }
}
