@page "/"

<PageTitle>Hani's CRUD System</PageTitle>

<h1>Need to betterize:</h1>

- Access to data in DB, is taking too much time
- Reduce the number o pages. The design is the same, only the content change, try do pages for design and pages or elements for control

