@page "/categories"
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3>Categories</h3>

 <a class="btn btn-primary" href="/categories/create">New Categorie</a>

<GenericList MyList="Categories">
    <Body>  
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categorie in Categories!)
            {
                <tr>
                    <td>
                        <a class="btn btn-warning" href="@categories/edit/@categorie.Id">Edit</a>
                        <button class="btn btn-danger" @onclick="(() => DeleteAsync(categorie.Id))">Remove</button>
                    </td>
                    <td>
                        @categorie.Name
                    </td>
                </tr>   
            }
        </tbody>
    </table>
    </Body>
</GenericList>

@code {
    private const string categories = "/categories";
    private const string prefix = $"/api{categories}/";

    public List<Categorie>? Categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.Post<List<Categorie>>($"{prefix}retrieve");
        Categories = responseHttp.Response!.OrderBy(p => p.Name).ToList(); 
    }

    private async Task DeleteAsync(int id)
    {        
        SweetAlertResult result = await sweetAlertService.FireAsync(new SweetAlertOptions()
                {
                    Title = "Confirmation",
                    Text = "Do you want to abandon this page, you will lost all content!",
                    Icon = SweetAlertIcon.Question,
                    ShowCancelButton = true,
                    CancelButtonText = "No",
                    ConfirmButtonText = "Yes"
                });

        if (string.IsNullOrEmpty(result.Value)) return;

        var responseHttp = await repository.Delete($"{prefix}delete/{id}");
        if(responseHttp.Error && responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
        {
            await sweetAlertService.FireAsync("Error", await responseHttp.GetErrorMessage(), SweetAlertIcon.Error);
            return;
        }

        await LoadAsync();
    }
}


